<!--/views/sidebar-t.ejs-->

<div class="sidebar">
    <div class="sidebar-item">
        <i class='bx bx-history'></i>
        <div>Price History</div>
    </div>
    <div class="sidebar-item">
        <i class='bx bx-history'></i>
        <div>CPI Food vs All Items</div>
    </div>

    <div class="sidebar-item">
        <i class='bx bx-history'></i>
        <div>Price History</div>
    </div>
</div>