<!--/views/sidebar-t.ejs-->
<script>
//console.log(trendArray)


function sidebarHeight() {
    let sidebar = document.querySelector(".sidebar")
    //find height of document
    const body = document.body;
    const html = document.documentElement;
    const docH = Math.max(body.scrollHeight, body.offsetHeight,
                     html.clientHeight, html.scrollHeight, html.offsetHeight);
    console.log(docH)
    sidebar.style.height = docH + 'px'
    return sidebar
}

function createSidebar(data) {
    let sidebar = sidebarHeight();
    data.forEach(item => {
        console.log(item)
        let newItem = document.createElement("div")
        newItem.classList.add("sidebar-item")
        newItem.setAttribute('onclick', item.script)
        let icon = document.createElement("i")
        icon.classList.add("bx")
        icon.classList.add(item.icon)
        let itemTitle = document.createElement("div")
        itemTitle.innerText = item.name
        // append items create proper html hierarchy
        newItem.appendChild(itemTitle)
        newItem.appendChild(icon)

        // append completed item to sidebar
        sidebar.appendChild(newItem)
    })
}


</script>
<div class="sidebar">
    <h2 class="sidebar-title" style="display:none;"><%-sidebar%></h2>
</div>

<script>
let sidebarType = document.querySelector(".sidebar-title");

let trendArray = []
if (new String(sidebarType.innerText) == "Trends") {
    trendArray = [

        {   
            name:'Home', 
            icon: 'bxs-home',
            script: 'trendsHome()',
        },
        {   
            name:'Consumer Price Index', 
            icon: 'bx-trending-up',
            script: 'cpiChart()',    
        },
        /*{   
            name:'Price History', 
            icon: 'bx-history',
            script: 'callHistory()'    
        },
        {   
            name:'Cheapest Staples', 
            icon: 'bx-money',
            script: 'comparePriceCheapest()'    
        },
        {   
            name:'Trends by Item', 
            icon: 'bxs-baguette',
            script: 'methodology'    
        },                
        {   
            name:'Grocery Price Documents', 
            icon: 'bxs-folder-open',
            script: 'dataRepoLoad()'    
        },  */             
    ]
}


    createSidebar(trendArray);
    window.addEventListener("resize", sidebarHeight(), true);



    function clearPage() {
        let chart = document.getElementById("myChart")
        chart.style.display = "none";
        let page = document.querySelector(".trends-page")
        page.innerHTML = ""
    }


    function trendsHome() {
        clearPage()
        let page = document.querySelector(".trends-page")
        const chartTitle = document.createElement("h2")
        chartTitle.innerText = "Grocery Tracker Trends"
        page.appendChild(chartTitle)
        const chartText = document.createElement("div")
        chartText.innerText =  `Welcome to the Hoser Grocery Tracker's Data Visualizations portal. 
                                As our project becomes more robust, we will be posting findings from our data as well as information from StatCanada and our investigations here.
                                Click on a link in the sidebar to get started.`       
        chartText.style.padding = "0 4rem"
        chartText.style.textAlign = "center"
        page.appendChild(chartText)
    }
    trendsHome()

    function cpiChart() {
        clearPage()
        let page = document.querySelector(".trends-page")
        const chartTitle = document.createElement("h2")
        chartTitle.innerText = "CPI Food Prices vs. All Prices"
        page.appendChild(chartTitle)
        const chartText = document.createElement("div")
        chartText.innerText =  `   The chart below compares the Consumer Price Index (CPI) for food items compared to the CPI for all items. The data was provided by StatCan. The CPI measures the overall increase in price for items.
                                   From this data we can extrapolate a few things: 

                                        1. Price inflation for food items has become closer to other items in recent months. This means the price increases are starting to stabilize.
                                        2. From mid-2022 to mid-2023, food prices were increasing well over double the rate of other items

                                    To be clear, the CPI for food items falling in line with the rest does not mean food will be getting cheaper. It just means that food prices will increase at the same rate as everything else.  `
        chartText.style.padding = "0 4rem"
        page.appendChild(chartText)
        let filepath = '../mapdata/statcan_cpi_food_vs_all.csv'
        $.get(filepath, function(data) {
                var csvdata = Papa.parse(data, {
                            header: true,
                            dynamicTyping: true
                        });
                csvdata.data.forEach((elem) => console.log(elem))        
                //csvdata.forEach((elem) => console.log(elem));
        // load chart data - CPI vs inflation
        // create set for all unique food Items
        let cpiFoodArray = []
        let cpiTotalArray = []
        let dateArray = []
        csvdata.data.forEach((elem) => 
            {   
                dateArray.push(elem['Date']); 
                cpiFoodArray.push(elem['Index for food purchased from stores']); 
                cpiTotalArray.push(elem['All-items index'])
            }
        );   
        const ctx = document.getElementById("myChart");
        ctx.style.display = "block";
        new Chart(ctx, {
            type: 'line',
            data: {
            labels: dateArray, //This is date
            datasets:   [
                            {
                                label: `Food Price Index`,
                                data: cpiFoodArray, //This is price
                                borderWidth: 1
                            },
                            {
                                label: 'CPI All Items Index',
                                data: cpiTotalArray,
                                yAxisID: 'y',
                            }
                        ]
            },
            options: {
            scales: {
                y: {
                beginAtZero: false
                }
            }
            }
        });


        });    
    }
</script>