<!--/views/sidebar-t.ejs-->
<script>
//console.log(trendArray)

function createSidebar(data) {
    let sidebar = document.querySelector(".sidebar")
    //find height of document
    const body = document.body;
    const html = document.documentElement;
    const docH = Math.max(body.scrollHeight, body.offsetHeight,
                     html.clientHeight, html.scrollHeight, html.offsetHeight);
    console.log(docH)
    sidebar.style.height = docH + 'px'

    data.forEach(item => {
        console.log(item)
        let newItem = document.createElement("div")
        newItem.classList.add("sidebar-item")
        newItem.setAttribute('onclick', item.script)
        let icon = document.createElement("i")
        icon.classList.add("bx")
        icon.classList.add(item.icon)
        let itemTitle = document.createElement("div")
        itemTitle.innerText = item.name
        // append items create proper html hierarchy
        newItem.appendChild(itemTitle)
        newItem.appendChild(icon)

        // append completed item to sidebar
        sidebar.appendChild(newItem)
    })
}


</script>
<div class="sidebar">
    <h2 class="sidebar-title" style="display:none;"><%-sidebar%></h2>
</div>

<script>
let sidebarType = document.querySelector(".sidebar-title");

let trendArray = []
if (new String(sidebarType.innerText) == "Trends") {
    trendArray = [
        {   
            name:'Price History', 
            icon: 'bx-history',
            script: 'callHistory()'    
        },
        {   
            name:'Consumer Price Index', 
            icon: 'bx-trending-up',
            script: 'cpiChart()'    
        },
        {   
            name:'Cheapest Staples', 
            icon: 'bx-money',
            script: 'comparePriceCheapest()'    
        },
        {   
            name:'Trends by Item', 
            icon: 'bxs-baguette',
            script: 'methodology'    
        },                
        {   
            name:'Grocery Price Documents', 
            icon: 'bxs-folder-open',
            script: 'dataRepoLoad()'    
        },                
    ]
}


    createSidebar(trendArray)


    function clearPage() {
        let chart = document.querySelector("#myChart")
        chart.style.display = "none";
        let page = document.querySelector(".trends-page")
        page.innerHTML = ""
    }

    function cpiChart() {
        clearPage()
        console.log("go")
        let filepath = '../mapdata/statcan_cpi_food_vs_all.csv'
        $.get(filepath, function(data) {
                var csvdata = Papa.parse(data, {
                            header: true,
                            dynamicTyping: true
                        });
                csvdata.data.forEach((elem) => console.log(elem))        
                //csvdata.forEach((elem) => console.log(elem));
        // load chart data - CPI vs inflation
        // create set for all unique food Items
        let cpiFoodArray = []
        let cpiTotalArray = []
        let dateArray = []
        csvdata.data.forEach((elem) => 
            {   
                dateArray.push(elem['Date']); 
                cpiFoodArray.push(elem['Index for food purchased from stores']); 
                cpiTotalArray.push(elem['All-items index'])
            }
        );   
        const ctx = document.querySelector("#myChart")
        ctx.style.display = "block";
        console.log(ctx)        
        new Chart(ctx, {
            type: 'line',
            data: {
            labels: dateArray, //This is date
            datasets:   [
                            {
                                label: `Food Price Index`,
                                data: cpiFoodArray, //This is price
                                borderWidth: 1
                            },
                            {
                                label: 'CPI All Items Index',
                                data: cpiTotalArray,
                                yAxisID: 'y',
                            }
                        ]
            },
            options: {
            scales: {
                y: {
                beginAtZero: false
                }
            }
            }
        });
        // create div, add class and append it to the .trends-page elem
        // build chart.js 
        // make chart responsive 

        });    
    }
</script>