<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frill Price</title>
</head>
<body>
    <%- include('../public/header.html') %>
    <main>
        <h1>Frill Price Index</h1>
        <!-- Two Column set up -->
    </main>
</body>
</html>