<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap" rel="stylesheet"> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Hoser Food Tracking Data Project</title>
</head>
<body>
    <%- include('../public/header.html') %>
    <div class="welcome-msg">
    <h1>Welcome to the Hoser's Data Driven Food Tracking Project</h1>
    <div class="mb-div">
            <p>
                As we are all painfully aware, the cost of living in this country has increased. As a result, stories focused on the necessities of life (food, shelter, health) 
                have become even more important. 
            </p>
            <p>
                That's why we're so proud to present the live beta of The Hoser's Food Price Tracking Project. With this dashboard, you'll be able to find the cheapest grocery stores in the city. 
                As we work towards that goal, we thought we'd provide you with the data we are tracking from grocery stores across the city. 
            </p>
        <div>
            <a href="/map">See the map</a>
        </div>
        <!--<div>
            <a href="/news">Read the stories</a>
        </div>-->
    </div>

    </div>
</body>
</html>