<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap" rel="stylesheet"> 
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Hoser Food Tracking Data Project - Trends Page</title>
</head>
<body>
    <%- include('../public/header.html') %>
    <div class="trend-container">
        <%- include('partials/sidebar-t') %>
        <%- include('../public/trends.html') %>
        <canvas id="myChart" style="padding:3rem;max-height:700px;display:none;"></canvas>

    </div>

    
    <!-- Point of this page is to check the trends around specific items - average price changes across stores etc. 
            get the categories going
            get the queries to average the price by weights out for these items
    
        LOAD ALL THE SCRIPTS HERE SO THAT THE SIDEBAR PARTIAL CAN ACCESS AS WELL AS THE TRENDS PAGE
        REMOVE THE JAVASCRIPT FROM THE HTML PAGE AND HAVE IT SEPARATE IF POSSIBLE. 

        WORST CASE PUT IT IN HERE 
    
    
    
        -->

</body>
</html>