:root {
    --hsr-ylw : #f7e541;
    --hsr-blk : #0d0d0d;
}

body {
    margin: 0;
    font-family: arial;
}

.header {
    background: var(--hsr-blk);
    font-size: 2rem;
    min-height: 50px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link {
    text-decoration: none;
}

.raccoon{
    background-image: url(../assets/raccoon.png);
    height: 100%;
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
}

.dash-title {
    padding: 1rem;
    margin: 0;
    font-family: "Playfair Display";
    color: var(--hsr-ylw);
    text-align: center;
}

.storebtn {
    padding: 0.5rem;
    text-align: center;
    background-color: var(--hsr-ylw);
}

.storebtn:hover {
    background-color: #cdbe32;
    cursor: pointer;
}

.flex-container div{
    max-width: 30%;
}
.flex-container {
    display: flex;
    width: 100%;
    justify-content: center;    
}
#map { 
    height: 100%; 
    width: 100%;
}
.map-container {
    height:500px;
}
.data_response {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}
.foodItem, .foodItemCat {
    display: flex;
    border: 1px solid #dadada;
    border-radius: 0.25rem;
    flex: 0 1 auto;
    flex-direction: column;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    padding: 0.25rem;
}

.foodItem:hover, .foodItemCat:hover {
    backdrop-filter: brightness(0.9);
    cursor: pointer;
}

.popup-title, .foodItem div:nth-of-type(1) {
    font-weight: 600;
}

.welcome-msg{
    width: 70%;
    display: block;
    margin: auto;
}

.mb-div {
    margin-bottom:2rem;
}

/*Dashboard UI */

.dash-flex {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.dash-flex a {
    flex: 1 1 400px;
    text-decoration: none;
}

.dash-flex .m-href{
    flex: 2 1 700px;
}

.map-link, .news-link {
    padding: 1rem;
    background-color: var(--hsr-ylw);
    color: var(--hsr-blk);
    border-radius: 0.25rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    font-size: 1.25rem;
}

.map-link:hover, .news-link:hover, .modal-support:hover {
    filter:brightness(0.8);
    cursor: pointer;
}   

.map-link i, .news-link i {
    font-size: 2rem;
}

.storeAmt{
    padding: 0.5rem;
    text-align: center;
}

.news-link.support {
    margin-top: 1rem;
}

/*chart*/
.chartTitle {
    text-align:center;
}

.chartDiv {
    display: block;
    margin: auto;
}

/* Modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
  
  /* The Close Button */
  .close {
    padding: 1rem;
    font-size: 1.85rem;
  }
  
  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
    backdrop-filter: brightness(0.8);
  }
  
  .modal-header {
    background-color: var(--hsr-ylw);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .modal-header h2, .modal-body {
    padding: 0 1rem;
    margin: 0;
  }

  .modal-body {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
  }
  .modal-support {
    text-decoration: none;
    font-weight: 600;
    padding: 0.5rem;
    background-color: var(--hsr-ylw);
    transition: 0.4s;
    border-radius: 0.25rem;
    color: var(--hsr-blk)
  }

  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

@media only screen and (max-width: 768px) {

	.map-container {
    		height: 250px;
	}

	.raccoon {
		display: none;
	}

}