:root {
    --hsr-ylw : #f7e541;
    --hsr-blk : #0d0d0d;
}

body {
    margin: 0;
    font-family: arial;
    overflow: hidden;
}

/* Header */

.header-flex, .header-link {
    background: var(--hsr-blk);
    font-size: 2rem;
    min-height: 50px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link {
    text-decoration: none;
}

.header-link-sq {
    border: 1px solid var(--hsr-ylw);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--hsr-ylw);
    border-radius: 0.25rem;
    float:right;
    margin: 12px;
    transition: 0.4s
  }

  .header-link-sq.empty {
    float: left;
    opacity: 0;

  }

  .header-link-sq:hover, .nav-menu-item:hover {
    background-color: var(--hsr-ylw);
    color: var(--hsr-blk);
    transition: 0.4s;
    cursor: pointer;
  }

  .nav-menu-ctn {
    position: absolute;
    right: 12px; 
    top: 77px;
    border: 1px solid var(--hsr-ylw);
    color:  var(--hsr-ylw);
    background:  var(--hsr-blk);
    width: fit-content;
    z-index: 1000;
    opacity: 0;
    transition: 0.4s;
    border-radius: 0.25rem;
  }

  .nav-menu-item {
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
    text-decoration: none;
    color: var(--hsr-ylw);
    padding: 0.125rem 0.5rem;
  }

  .nav-menu-item div {
    padding: 0.25rem 0;
  }

  .nav-menu-ctn.animate-menu {
    height: fit-content;
    opacity: 1;
    -webkit-animation-name: fadeDownIn; /* Fade in the background */
    -webkit-animation-duration: 0.5s;
    animation-name: fadeDownIn;
    animation-duration: 0.5s;
    z-index: 1001;
  }

.raccoon{
    background-image: url(../assets/raccoon.png);
    height: 100%;
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
}

.dash-title {
    padding: 1rem;
    margin: 0;
    font-family: "Playfair Display";
    color: var(--hsr-ylw);
    text-align: center;
}

.storebtn {
    padding: 0.5rem;
    text-align: center;
    background-color: var(--hsr-ylw);
}

.storebtn:hover {
    background-color: #cdbe32;
    cursor: pointer;
}

.flex-container div{
    max-width: 30%;
}
.flex-container {
    display: flex;
    width: 100%;
    justify-content: center;    
}
#map { 
    height: 100%; 
    width: 100%;
}
.map-container {
    height:500px;
}
.data_response {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
    position: fixed;
    bottom: 0;
    z-index: 999;
}
.foodItem, .foodItemCat {
    display: flex;
    border: 1px solid #dadada;
    border-radius: 0.25rem;
    flex: 0 1 auto;
    flex-direction: column;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    padding: 0.25rem;
}

.foodItem:hover, .foodItemCat:hover {
    backdrop-filter: brightness(0.9);
    cursor: pointer;
}

.popup-title, .foodItem div:nth-of-type(1) {
    font-weight: 600;
}

.welcome-msg{
    width: 70%;
    display: block;
    margin: auto;
}

.mb-div {
    margin-bottom:2rem;
}

/*Dashboard UI */

.dash-flex {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.dash-flex a {
    flex: 1 1 400px;
    text-decoration: none;
}

.dash-flex .m-href{
    flex: 2 1 700px;
}

.map-link, .news-link {
    padding: 1rem;
    background-color: var(--hsr-ylw);
    color: var(--hsr-blk);
    border-radius: 0.25rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    font-size: 1.25rem;
}

.map-link:hover, .news-link:hover, .modal-support:hover {
    filter:brightness(0.8);
    cursor: pointer;
}   

.map-link i, .news-link i {
    font-size: 2rem;
}

.storeAmt{
    padding: 0.5rem;
    text-align: center;
}

.news-link.support {
    margin-top: 1rem;
}

/*chart*/
.chartTitle {
    text-align:center;
}

.chartDiv {
    display: block;
    margin: auto;
}

/* Modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
  
  /* The Close Button */
  .close {
    padding: 1rem;
    font-size: 1.85rem;
  }
  
  .close:hover,
  .close:focus,
  .close_btn:hover {
    text-decoration: none;
    cursor: pointer;
    backdrop-filter: brightness(0.8);
  }
  
  .close_btn::before {
    content: "x";
    font: 16px/24px Tahoma, Verdana, sans-serif;
    color: #757575;
  }

  .close_btn {
    padding: 0.25rem 0.5rem;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .modal-header {
    background-color: var(--hsr-ylw);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .modal-header h2, .modal-body {
    padding: 0 1rem;
    margin: 0;
  }

  .modal-body {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
  }
  .modal-support {
    text-decoration: none;
    font-weight: 600;
    padding: 0.5rem;
    background-color: var(--hsr-ylw);
    transition: 0.4s;
    border-radius: 0.25rem;
    color: var(--hsr-blk)
  }

  /*map overlay */

  .mapTools {
    position: absolute;
    top: 85px;
    z-index: 400;
    padding-left: 4rem;
    display: flex;
    gap: 1rem;
  }

  .store_data_response {
    background-color: rgba(255,255,255,0.9);
    border: 1px solid #ccc;
    position: absolute;
    top: 180px;
    z-index: 999;
    left: 11px;
    padding: 2rem 1rem;
    display: none;
  }

  .store_flex {
    max-height: 250px;
    overflow:auto;
  }

  .act_btn_flex {
    display: flex;
  }

  .go_to_store, .more_store_info {
    font-size: 0.75rem;
    text-transform: uppercase;
    border: 1px solid #6d6d6d;
    padding: 0.25rem;
    color: #6d6d6d;
  }

  .go_to_store:hover, .more_store_info:hover {
    backdrop-filter: brightness(0.8);
    color:var(--hsr-blk);
    cursor: pointer;
  }

  .helpSection h4 {
    padding: 0.25rem;
    border: 1px solid black;
    border-radius: 0.25rem;
  }

  .helpSection h4:hover {
    background-color: rgba(255,255,255,0.5);
  }

  /* keep leaflet attribution from overlapping data_response div */
  .leaflet-bottom {
    z-index: 900;
  }

  /* Sidebar for Trends and Data */

  .sidebar {
    transition: width 0.3s;
    background-color: var(--hsr-ylw);
    position: absolute;

  }

  .sidebar:hover {
    width: fit-content;
  }

  .sidebar-item {
    display: flex;
    gap: 0.5rem;
    flex-wrap: nowrap;
    padding: 0.5rem 0.5rem;
    justify-content: space-between;
  }

  .sidebar-item:hover {
    backdrop-filter: brightness(0.9);
    cursor: pointer;
  }

  .sidebar-item div {
    display: none;
    transition: display 200ms;
    text-wrap: nowrap;
  }

  .sidebar:hover div div {
    display: block;
    animation: slideaway 1s;
  }

  .trends-page {
    margin: 0;
    padding: 1rem;
  }

  /* Web Form */
  .food-grid:first-of-type {
    margin-top: 3rem;
  }
  .food-row {
    display: grid;
    grid-gap:1rem;
    grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
  }



  /* Add Animation */

  @keyframes grow {
    from { width:0; }
    to { width:1; }
  }

  @keyframes slideaway {
    from { display: block; transform: translateX(-40px); opacity: 0;}
    to { transform: translateY(0); opacity: 1;}
  }

  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1}
  }
  @-webkit-keyframes fadeDownIn {
    from {opacity: 0; top: 55px;} 
    to {opacity: 1; top: 77px;}
  }
  
  @keyframes fadeDownIn {
    from {opacity: 0;top: 55px;} 
    to {opacity: 1; top: 77px;}
  }

@media only screen and (max-width: 768px) {

	.map-container {
    height: 250px;
	}

	.raccoon {
		display: none;
	}

  .dash-title {
    font-size: 1.25rem;
  }

  .mapTools{
    top: 48px;
  }

  .helpSection h4{
    margin: 0;
    max-width: 80px;
    font-size: 0.75rem;
    text-align: center;
  }

  .mapTools {
    flex-direction: column;
  }

  .leaflet-touch .leaflet-control-layers-toggle {
    height: 30px;
    width: 30px;
  }

  .data_response{
    max-height: 500px;
    overflow: auto;
  }    

}